chat-pdf/src/data
*.env
.DS_Store
/chat-pdf/src/src/data/*.*
chat-pdf/src/src/data/*.paraquet
chat-pdf/src/src/data/*.pkl
frontend/tmp
chat-pdf/src/src/data/chroma/chroma-embeddings.parquet
.idea
chat-pdf/src/src/data/chroma/index/*.pkl
chat-pdf/src/src/data/chroma/chroma-collections.parquet
chat-pdf/src/src/data/chroma/index/*.bin
frontend/package-lock.json
frontend/*.json
frontend/node_modules/*/*
frontend/postcss.config.js
frontend/tailwind.config.js
frontend/node_modules/.package-lock.json
frontend/.air.toml
