chat-pdf/src/data
*.env
.DS_Store
.DS_Store
chat-pdf/src/src/data/chroma/chroma-embeddings.parquet
chat-pdf/src/src/data/chroma/index/id_to_uuid_d4e43bb5-2793-42c4-b29a-2a64708cc483.pkl
chat-pdf/src/src/data/chroma/index/index_metadata_d4e43bb5-2793-42c4-b29a-2a64708cc483.pkl
chat-pdf/src/src/data/*.*
chat-pdf/src/src/data/*.paraquet
chat-pdf/src/src/data/*.pkl
frontend/tmp
chat-pdf/src/src/data/chroma/chroma-embeddings.parquet
