<body class="bg-gray-100 flex flex-col min-h-screen">

    <header class="bg-white shadow-md p-6">
        {{ template "partials/header" . }}
    </header>
    
    <main class="flex-grow container mx-auto mt-10">
        <section class="text-center px-5">
            <h1 class="text-4xl font-bold mb-10">Welcome to Our manual query site!</h1>
            <p class="text-xl mb-10">
               This site is useful for if you want to know something about the simulator, but you dont know where to look.
            </p>
        </section>

        <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16 p-5">
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
               
                <div class="p-4">
                    <h2 class="font-bold text-2xl mb-2">Information retrirval</h2>
                    <p>An easy way to retrive information from Manuals</p>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="p-4">
                    <h2 class="font-bold text-2xl mb-2">Card Title</h2>
                    <p>Card Content</p>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg overflow-hidden">
                <div class="p-4">
                    <h2 class="font-bold text-2xl mb-2">Card Title</h2>
                    <p>Card Content</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="bg-white shadow-md p-6">
        {{ template "partials/footer" .}}
    </footer>
    
</body>
