<body class="bg-gray-100 flex items-center justify-center min-h-screen">

    <header class="bg-white shadow-sm w-full fixed top-0">
        {{ template "partials/header" . }}
    </header>

    
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <p class="mb-6 bg-gray-100 shadow-md text-center">Please fill in this form to login.</p>

        <div class="mb-4">
            
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Username" name="username" id="username" required>

            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" placeholder="Enter Password" name="password" id="password" required>
        </div>

        <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Login
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/register">
                Don't have an account? Register
            </a>
        </div>
    </form>

    <script src="js/login.js"></script>
   
    {{ template "partials/footer" . }}
   
</body>
