<body class="bg-gray-100 flex flex-col items-center justify-start min-h-screen">
    <header class="bg-white z-10 shadow-md fixed top-0 left-0 w-full">
        {{ template "partials/header" . }}
    </header>

    <div class="max-w-xl mt-16" style="margin-top: 64px;"> 
        <form id="upload-form" class="mx-auto mt-10 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 relative" style="max-width: 600px; position: relative;">

        <div class="mb-4"> 
            <label class="block text-gray-700 text-sm font-bold mb-2" for="file">Upload your file:</label> <!-- Added a label -->
            <div class="w-3/4 mx-auto">
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                type="file" id="file" name="file" multiple required>
            </div>
        </div>    

        <div class="mb-4"> 
            <label class="block text-gray-700 text-sm font-bold mb-2" for="radio-group">Select a value:</label>
            <div class="w-3/4 mx-auto flex justify-between" id="radio-group">
                <div class="w-1/2 pr-2">
                    <label class="block"><input type="radio" name="value" value="1"> Tyrebagger</label>
                    <label class="block"><input type="radio" name="value" value="2"> Abu Dhabi</label>
                    <label class="block"><input type="radio" name="value" value="3"> USA 1</label>
                    <label class="block"><input type="radio" name="value" value="4"> USA 2</label>
                    <label class="block"><input type="radio" name="value" value="5"> AUS</label>
                </div>
                <div class="w-1/2 pl-2">
                    <label class="block"><input type="radio" name="value" value="6"> Singapore</label>
                    <label class="block"><input type="radio" name="value" value="7"> Sim 7</label>
                    <label class="block"><input type="radio" name="value" value="8"> ADS Sim</label>
                    <label class="block"><input type="radio" name="value" value="9"> SIM 9</label>
                    <label class="block"><input type="radio" name="value" value="10"> Sim 10</label>
                </div>
            </div>
            <p>Value: <span id="radio-value">1</span></p>
        </div>

        <div id="file-list" class="mt-4">
            <!-- Files will be populated here -->
          </div>
          <button id="delete-button" class="mt-4 px-4 py-2 bg-red-500 text-white">Delete Selected Files</button>
          
        
        

        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Upload File's
        </button>

        </form>
    </div>

    <script src="/js/upload.js"></script>
    <script src="/js/ask.js"></script>

    {{ template "partials/footer" .}}
</body>
