<title id="title">{{.Title}}</title>


<header>

    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/83e9aaac76.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/output.css" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">

    <nav class="py-3 flex items-center justify-center bg-white shadow">
        <div class="container mx-auto px-6 md:px-12 flex items-center justify-between">
            <div class="flex items-center">
                <a href="/">
                    <img src="/images/ron-sim.svg" alt="Rely logo" class="h-18 w-32 mr-3">
                </a>
            </div>

            <ul class="flex items-center justify-center">
                <li>
                    <a href="/search" class="mx-3 py-2 px-4 bg-blue-500 text-black font-semibold rounded-lg shadow-md hover:bg-blue-200">Search</a>
                </li>
        
                {{if not .LoggedIn}}
                <li>
                    <a href="/login" class="mx-3 py-2 px-4 bg-blue-500 text-black font-semibold rounded-lg shadow-md hover:bg-blue-200">Login</a>
                </li>
                {{end}}
            </ul>
        </div>
    </nav>
    


</header>
